$titlefont: 'Viga', sans-serif;
$text: 'Quicksand', sans-serif;

$purple: rgb(110, 60, 188);
$lightPurple: rgb(135, 125, 209);
$blue: rgb(225, 229, 235);
$lighBlue: rgb(184, 228, 240);
$textColor: rgb(46, 24, 80);
